# Byte-compiled files
__pycache__/
*.py[cod]
*~
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# Rust
target/

# Unit test / coverage reports
.pytest_cache/
.coverage
*.cover
htmlcov/

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# IDEs
.idea/
.vscode/

# mypy
.mypy_cache/
